.navbar-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: black;
}

.navbar-task {
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgb(218, 7, 7);
  margin: 20px;
  padding: 10px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  color: white;
  text-decoration: none;
}

.btn-nav {
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgb(218, 7, 7);
  color: white;
  margin: 20px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  gap: 20px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}



input, textarea {
  display: block;
  margin: 10px 0;
  padding: 5px;
}