.head-task {
    text-decoration: underline;
}
.input-info {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    background-color: lightgray;
}

.add-button {
    background-color: black;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}